@import "../../scss/_variables.scss";
@import "../../scss/main.scss";
@import "../../scss/mixin";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

.will-del {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  .form-container {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

    .login-logo {
      height: 100px;
      width: 100px;
      background: url("https://img.icons8.com/color/100/2-cute.png");
      margin: auto;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    }

    .login-title {
      margin-top: 10px;
      font-weight: 900;
      font-size: 2.5rem;
      color: purple;
      letter-spacing: 1px;
    }

    .login-inputs {
      margin-top: 1.7rem;
    }

    label,
    input,
    button {
      display: block;
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
      box-sizing: border-box;
    }

    label {
      margin-bottom: 1rem;
      font-size: 1.5rem;

      &:nth-of-type(2) {
        margin-top: 2rem;
      }
    }

    input {
      color: purple;
      background-color: #ecf0f3;
      padding: 10px;
      padding-left: 20px;
      height: 50px;
      font-size: 1.5rem;
      border-radius: 50px;
      box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
      &::placeholder {
        color: gray;
      }
    }

    button {
      margin-top: 20px;
      color: #fff;
      font-size: 1.5rem;
      background-color: purple;
      height: 40px;
      border-radius: 20px;
      cursor: pointer;
      font-weight: 900;
      box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
      transition: 0.5s;
    }
  }
}
