@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap');

@import '../scss/_variables.scss';
@import '../scss/main.scss';

header {
    width: 100%;
    height: 100px;
    background-color: #4b4a5a;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    h1 {
    color: #ffff;
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 5px;
 }
}
