/* Imports */
@import '_reset.scss';
@import '_variables.scss';
@import '_mixin.scss';


:root{
  font-size: 10px;
}

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

.container{
max-width: 120rem;
margin: 0 auto;
padding:1rem;
}

